@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 16, 32, 68; /* Royal blue start */
  --background-end-rgb: 19, 57, 89;   /* Royal blue end */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #0F212E;
}

.cobra {
  color: aliceblue;
}
.bold-text {
  font-weight: 800; /* Adjust the value as needed for desired boldness */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
